{{ partial "top.html" . }}
{{ .Content }}
<input class="filter" type="text" placeholder="start typing to filter cards... e.g. arrays" value="">
</div>
<div class="cheats grid">
    {{ range .Pages.ByPublishDate }}
    <article>
        <header><h3>{{ .Title }}</h3></header>
        {{ .Content }}
    </article>
    {{ end }}
</div>
<div class="container">
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
window.addEventListener("load", function(){
    var iso = new Isotope( '.grid', {
        itemSelector: 'article',
        layoutMode: 'fitRows',
        gutter: 10
    });
});
</script>
{{ partial "bottom.html" . }}
